:root {
  --primary-color: #834973;
  --secondary-color: #3d2357;
  --tertiary-color: #dbd9db;
  --quanternary-color: #247ba0;
  --quinary-color: #7e6c6c;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  background: var(--primary-color);
}

.nav-list {
  background: var(--secondary-color);
  box-shadow: 0px 0px 10px #333;
  margin: .5rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.nav-item a:hover {
  color: var(--quanternary-color);
  transition: all 200ms ease-in;
}

.nav-item:first-child {
  margin-right: auto;
  color: var(--tertiary-color);
  margin-left: 2rem;
}

.intro-heading {
color: var(--tertiary-color);
text-align: center;
font-size: 3rem ;
padding: 2rem 0 1rem 0;
}

.intro p {
  text-align: center;
  color: var(--tertiary-color);
  padding: 0 1rem 2rem 1rem;
}

.git-commands h3 {
  text-align: center;
  font-size: 30px;
  color: var(--tertiary-color);
  padding: 2rem 0 1rem 0;
}

.git-commands ul {
  text-align: center;
  color: var(--tertiary-color)
}

.git-comands ul li {
  font-size: 25px;
}

.git-commands ul li span {
  color: var(--quanternary-color);
  font-size: 25px;
  font-weight: 900;
}